dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.direnv/
*.info
Tasks.md
*~
*.core
*.log
test/examples/spec/attic/

output.core
output*.core
/src/Solcore/Frontend/Parser/SolcoreParser.hs

# nix
/result

# claude
/CLAUDE.md
/.claude/

# latex
/spec/*.bbl
/spec/*.blg
/spec/*.log
/spec/*.out
/spec/*.pdfsync
/spec/*.pdf

# config dirs
.vscode/
